AIocr/crops/
AIocr/ocr_extracted/
AIocr/prompts/
AIocr/config.json
AIocr/AIE/crops/
AIocr/AIE/invoice_pdf/
AIocr/AIE/ocr_extracted/
commercialLayer/commercial_invoice_files/
commercialLayer/price_list_files/
configDir/test_config.json
downloads/
ocrDir/
OCRsanity/sanity_files/
orderRecommend/jxset/
PDFverification/uploads/
preProcessDir/
tmp/
toBackOffice/
uploads/
gmailAccess/token.json
filelog.txt
tableEdit/boViewer_log.txt
scripts/rename_pdfs_debug.cmd
.gitignore
scripts/rename_pdfs.cmd
tableEdit/boViewer_log.txt
TOE/T_TEST
