AIocr/crops/
AIocr/ocr_extracted/
AIocr/prompts/
AIocr/config.json
commercialLayer/commercial_invoice_files/
commercialLayer/price_list_files/
configDir/test_config.json
downloads/
ocrDir/
OCRsanity/sanity_files/
orderRecommend/jxset/
PDFverification/uploads/
preProcessDir/
tmp/
toBackOffice/
uploads/
gmailAccess/token.json
filelog.txt
tableEdit/boViewer_log.txt
